* {
  /* max-width: 1280px; */
  width: 100%;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.header-container {
  display: flex;
  background-color: #282c34;
  padding-left: 20px;
  color: white;
  border-bottom: 4px solid #61dafb;
  text-align: start;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}

.product-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.ui.card {
  display: flex;
  flex-direction: column;
}

.ui.card .image {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.ui.card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* or 'cover' for cropped effect */
}

.ui.card .content {
  flex: 1;
}
